@forward 'reset';
@forward 'colors';
@forward 'typography';
@forward 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

body {
  font: var(--font-regular);
  color: var(--light-color-100);
  background: var(--dark-color-900);

  //for select options TODO?
  & div[data-radix-popper-content-wrapper=''] {
    z-index: 100 !important;
  }
}
