@mixin flex($flex-direction: row, $justify-content: center, $align-items: center, $gap: 0) {
  display: flex;
  flex-direction: $flex-direction;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

$skeleton-color: #353535;

@mixin skeleton-animation() {
  animation: skeleton-pulse linear 0.8s infinite alternate;

  @keyframes skeleton-pulse {
    0% {
      background-color: rgba($skeleton-color, 0.7);
    }

    100% {
      background-color: rgba($skeleton-color, 0.9);
    }
  }
}
